.page {
    width:100vw;
    height: 100vh;
    /* margin-left: -60vw; */
}

.main{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg{
    background-image: url("./newimages/flowers.png");
  /* filter: grayscale(100); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg h1 {
    font-family: ballada;
    font-size: 10rem;
    color: palevioletred;
    /* text-shadow:4px 2px 10px rgb(24, 24, 29); */
    text-shadow: 0 0 10px #FFFFFF;
}



.bg1 {
    background-image: url("./newimages/hearts.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg1 h1{
    font-family: ballada;
    font-size: 5rem;
    color: palevioletred;
}

.bg1 p{
    color: black;
}

.bg2{
    background-image: url("./newimages/coplerunning.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2 h1 {
    font-family: ballada;
    font-size: 5rem;
    color: palevioletred;
}

.bg3{
    background-image: url("./newimages/cake2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 h1 {
    font-family: ballada;
    font-size: 5rem;
    color: palevioletred;
}

.bg3 p {
    color: black;
}

.bg4{
    background-color: white;
}

.paragraph {
    /* background-color: violet; */
 font-size: 1.5rem;
 color: rgb(255, 250, 255);
 padding: 2%;
}